* div {
    height: 60px;
    background-color: black;
    border-width: 10px;
    border-color:red;
    border-style: dashed;
}
#amazon{
    color: red;
}

#mycart{
    color: white;
    margin-left: 200px;
}

#account{
    color: white;
    margin-left: 200px;

}

  #contactus{  
    color: white;
    margin-left: 200px;
}
#search{
    margin-left: 200px;
}
#button{
    background-color:orange;
    color: white;
}
 

 #id1{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-style: solid;
 }

 
 #id2{
    background-color: red;
     width: 100px;
    height: 100px;
    border-style: solid;
    display:  none;
 }
 
 #id3{
    background-color: blue;
     width: 100px;
    height: 100px;
    border-style: solid;
 }