div{
   width: 150px; 
   height: 50px;
   background-color: yellow;
   border-style:dotted;
   border-radius: 50px;
   padding-left: 50px;
   padding-bottom: 30px;
   padding-right: 40px;
   padding-top: 50px;
}